.main {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    'menu header header'
    'menu swiper user'
    'menu offers user';

  .menu {
    grid-area: menu;
    height: 580px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $box-shadow;

    &__header {
      width: 100%;
      height: 35px;
      background: $grey-color;
      border-bottom: 1px solid $grey-color;
      box-shadow: $box-shadow-2;
      svg {
        height: 23px;
        width: 23px;
      }
    }

    &__list {
      margin-top: 3px;
    }
    ul {
      li {
        height: 32px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-bottom: 1px solid $grey-color;
        &:hover {
          background: $grey-color;
          cursor: pointer;
        }
        a {
          padding: 0 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          color: #424141;
          svg {
            height: 20px;
            width: 20px;
            fill: #8c8484;
            stroke: #8c8484;
          }
        }
      }
    }
  }

  .header {
    grid-area: header;
    height: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $box-shadow;
  }

  .swiper {
    grid-area: swiper;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $box-shadow;
  }

  .offers {
    grid-area: offers;
    height: 220px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $box-shadow;
    overflow: hidden;
    background-image: url('/images/flash.webp');
    background-position: -275px -135px;
    background-size: cover;
  }

  .user {
    position: relative;
    grid-area: user;
    height: 530px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $box-shadow;

    &__container {
      padding: 1rem;
    }

    &__infos {
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      flex-direction: column;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: $box-shadow;
      }
      h4 {
        margin-top: 10px;
        text-transform: capitalize;
      }

      &_btns {
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        button {
          width: 100px;
          height: 35px;
          border-radius: 10px;
          cursor: pointer;
          font-weight: 600;
          &:first-of-type {
            background: linear-gradient($blue-color, #0000ff34);
            color: #fff;
          }
          &:last-of-type {
            color: #555;
          }
        }
      }
    }

    &__links {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;
      li {
        width: 50px;
        height: 50px;
        background: $grey-color;
        border-radius: 50%;
        display: grid;
        place-items: center;
        transition: 0.2s;
        svg {
          width: 30px;
          height: 30px;
          stroke: $blue-color;
        }
        &:hover {
          background: $blue-color;
          svg {
            stroke: #fff;
          }
        }

        &:nth-of-type(3),
        &:nth-of-type(4) {
          svg {
            fill: $blue-color;
          }
          &:hover {
            svg {
              fill: #fff;
            }
          }
        }
      }
    }

    &__footer {
      position: absolute;
      bottom: 0;
      transform: rotate(180deg);
    }
  }
}
