.main {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    'menu header header'
    'menu swiper user'
    'menu offers user';

  .menu {
    grid-area: menu;
    height: 580px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $box-shadow;
  }

  .header {
    grid-area: header;
    height: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $box-shadow;
  }

  .swiper {
    grid-area: swiper;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $box-shadow;
  }

  .offers {
    grid-area: offers;
    height: 220px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $box-shadow;
    overflow: hidden;
    background-image: url('/images/flash.webp');
    background-position: -275px -135px;
    background-size: cover;
  }

  .user {
    grid-area: user;
    height: 530px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $box-shadow;
  }
}
