$blue-color: #2f82ff;
$grey-color: #ebe8e8;
$light-error-color: #fd010169;
$error-color: #ea4439;
$success-color: #6cc070;
$yellow-color: #fac812;
$violet-color: #572eec;
$redish-color: #f25b6d;

$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$box-shadow-2: rgba(99, 99, 99, 0.1) 0px 0px 4px 0px;

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  min-height: 100vh;
}

.btn__primary {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 5px;
  background: $blue-color;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
}

.btn__outlined {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 5px;
  background: $grey-color;
  color: $blue-color;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}

.success {
  padding: 20px;
  color: $success-color;
}

.error {
  padding: 20px;
  color: $error-color;
}

// -------------- SWIPER ----------------

.swiper {
  width: 100%;
  height: 100%;
  box-shadow: $box-shadow !important;
  border-radius: 10px !important;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      display: grid;
    }
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.mainSwiper,
.offers_swiper,
.user__swiper,
.flashDeals__swiper {
  .swiper {
    border-radius: 10px !important;
    overflow: hidden !important;
  }

  .swiper-slide img {
    height: 300px !important;
    border-radius: 10px !important;
    box-shadow: $box-shadow !important;
  }

  .swiper-pagination-bullet {
    width: 8px !important;
    border-radius: 5px !important;
  }

  .swiper-pagination-bullet-active {
    background: $blue-color !important;
    width: 13px !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #fff !important;
    transform: scale(0.5) !important;
    width: 50px !important;
    height: 80px !important;
    transition: 0.2s;
    background: rgba(102, 102, 102, 0.35) !important;
    display: none;
    place-items: center;
  }

  .swiper-button-prev {
    left: -13px;
  }

  .swiper-button-next {
    right: -13px;
  }
}

.offers_swiper {
  max-width: 700px;
  transform: translateX(35%);
  @media (max-width: 980px) {
    transform: translateX(1%);
    max-width: 750px;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 150px !important;
    border-radius: 10px !important;
    height: 90% !important;
    margin-top: 0.6rem !important;
    box-shadow: $box-shadow;
    &:hover {
      transform: scale(1.03);
      transition: 0.2s;
    }

    span {
      position: absolute;
      color: #fff;
      &:first-of-type {
        bottom: 10px;
        width: 90px;
        height: 25px;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 600;
        background: $yellow-color;
      }

      &:last-of-type {
        font-style: italic;
        top: -5px;
        right: -5px;
        background: $redish-color;
        height: 40px;
        width: 40px;
        border-radius: 50px;
        display: grid;
        place-items: center;
        font-size: 16px;
        font-weight: 600;
        box-shadow: $box-shadow;
      }
    }
  }

  .swiper-slide img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100% !important;
    object-fit: cover !important;
  }

  .swiper-pagination {
    display: none;
  }
}

.user__swiper {
  position: relative;
  margin-left: 2rem;
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    img {
      height: 240px !important;
    }
  }
}

.flashDeals__swiper {
  .swiper-slide {
    img {
      border-radius: 0 !important;
      height: 320px !important;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 35%;
  }

  @media (max-width: 450px) {
    .swiper-button-prev,
    .swiper-button-next {
      display: grid;
    }
  }
}

// -------------- SWIPER ----------------
